<!DOCTYPE html>
<html>
<head></head>

	<body>
		<form method = "POST">
			<h3 align = "center"> Green Positions</h3>
			<div class = "form-group" align = "center">
				<label> </label>
				<input   type = "text" class = "form-control"  name = "g[]" maxlength = "1"  size = "1"  />

				<label for = "g2"> </label>
				<input   type = "text" class = "form-control"  name = "g[]" maxlength = "1"  size = "1" />
				<label for = "g3"> </label>
				<input   type = "text" class = "form-control"  name = "g[]" maxlength = "1"  size = "1" />
				<label for = "g4"> </label>
				<input   type = "text" class = "form-control"  name = "g[]" maxlength = "1"  size = "1" />
				<label for = "g5"> </label>
				<input   type = "text" class = "form-control"  name = "g[]" maxlength = "1"  size = "1" />
			</div>

			<div> 
			<h3 align = "center"> Yellow Positions</h3>
			<div class = "form-group" align = "center">
				<label for = "y1"> </label>
				<input   type = "text" class = "form-control" id = "y1" name = "y[]" maxlength = "1"  size = "1" />

				<label for = "y2"> </label>
				<input   type = "text" class = "form-control" id = "y2" name = "y[]" maxlength = "1"  size = "1"/>
				<label for = "y3"> </label>
				<input   type = "text" class = "form-control" id = "y3" name = "y[]" maxlength = "1"  size = "1"/>
				<label for = "y4"> </label>
				<input   type = "text" class = "form-control" id = "y4" name = "y[]" maxlength = "1"  size = "1"/>
				<label for = "y5"> </label>
				<input   type = "text" class = "form-control" id = "y5" name = "y[]" maxlength = "1"  size = "1"/>

			</div>
			<div> 
			<h3 align = "center"> Grey Characters</h3>
			<div class = "form-group" align = "center">
				<label for = "gr1"> </label>
				<input   type = "text" class = "form-control" id = "gr1" name = "gr[]" maxlength = "1"  size = "1"/>

				<label for = "gr2"> </label>
				<input   type = "text" class = "form-control" id = "gr2" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr3"> </label>
				<input   type = "text" class = "form-control" id = "gr3" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr4"> </label>
				<input  type = "text" class = "form-control" id = "gr4" name = "gr[]" maxlength = "1" size = "1"/>
				<label for = "gr5"> </label>
				<input   type = "text" class = "form-control" id = "gr5" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr6"> </label>
				<input   type = "text" class = "form-control" id = "gr6" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr7"> </label>
				<input  type = "text" class = "form-control" id = "gr7" name = "gr[]" maxlength = "1" size = "1"/>
				<label for = "gr8"> </label>
				<input   type = "text" class = "form-control" id = "gr8" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr9"> </label>
				<input   type = "text" class = "form-control" id = "gr9" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr10"> </label>
				<input  type = "text" class = "form-control" id = "gr10" name = "gr[]" maxlength = "1" size = "1"/>
				</br></br>
				<label for = "gr11"> </label>
				<input   type = "text" class = "form-control" id = "gr11" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr12"> </label>
				<input   type = "text" class = "form-control" id = "gr12" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr13"> </label>
				<input  type = "text" class = "form-control" id = "gr13" name = "gr[]" maxlength = "1" size = "1"/>
				<label for = "gr14"> </label>
				<input   type = "text" class = "form-control" id = "gr14" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr15"> </label>
				<input   type = "text" class = "form-control" id = "gr15" name = "gr[]" maxlength = "1"  size = "1"/>

				<label for = "gr16"> </label>
				<input  type = "text" class = "form-control" id = "gr16" name = "gr[]" maxlength = "1" size = "1"/>
				<label for = "gr17"> </label>
				<input   type = "text" class = "form-control" id = "gr17" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr18"> </label>
				<input   type = "text" class = "form-control" id = "gr18" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr19"> </label>
				<input  type = "text" class = "form-control" id = "gr19" name = "gr[]" maxlength = "1" size = "1"/>
				<label for = "gr20"> </label>
				<input   type = "text" class = "form-control" id = "gr20" name = "gr[]" maxlength = "1"  size = "1"/>
				</br></br>
				<label for = "gr21"> </label>
				<input   type = "text" class = "form-control" id = "gr21" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr22"> </label>
				<input   type = "text" class = "form-control" id = "gr22" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr23"> </label>
				<input  type = "text" class = "form-control" id = "gr23" name = "gr[]" maxlength = "1" size = "1"/>
				<label for = "gr23"> </label>
				<input   type = "text" class = "form-control" id = "gr23" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr24"> </label>
				<input   type = "text" class = "form-control" id = "gr24" name = "gr[]" maxlength = "1"  size = "1"/>
				<label for = "gr25"> </label>
				<input  type = "text" class = "form-control" id = "gr25" name = "gr[]" maxlength = "1" size = "1"/>
				<label for = "gr26"> </label>
				<input   type = "text" class = "form-control" id = "gr26" name = "gr[]" maxlength = "1"  size = "1"/>
			</div>
		</br>
		<p align = "center">
			<button type = "submit" class = "btn" > Submit</button>
		</p>
		</form>

		</br></br></br></br>
		<div align = "center">
				The possible solutions for this wordle are: <br/>
				{{possibeWords}}
		</div>




	</body>
</html>